<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>NVE Validator</span>
    </mat-toolbar>
    <ng-container>


      <mat-form-field>
        <input [(ngModel)]="nve" maxlength="19" matInput  placeholder="Bitte geben Sie hier ihre NVE ein...">
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="checkDigit" maxlength="1" matInput placeholder="Prüfziffer">
      </mat-form-field>


      <button (click)="validate()" mat-raised-button>Prüfen</button>

      <div *ngIf="errorMessage">
        {{errorMessage}}
      </div>

      <ul *ngIf="nve_list">
        <li *ngFor="let nve of nve_list">
          {{ nve }}
        </li>
      </ul>

    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>
